<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sundroid.traininfo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LiveTrainStatusActivity" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.PNRStatusActivity" />
        <activity android:name=".activity.TrainRouteActivity" />
        <activity android:name=".activity.SeatAvailability" />
        <activity android:name=".activity.TrainBetweenStationActivity" />
        <activity android:name=".activity.TrainNameNumberActivity" />
        <activity android:name=".activity.TrainFareEnquiryActivity" />
        <activity android:name=".activity.TrainArrivalAtStationActivity" />
        <activity android:name=".activity.SeatAvailabilityResultAcitivity" />
        <activity android:name=".activity.TrainBetweenStationListActivity" />
        <activity android:name=".activity.CancelledTrainActivity"></activity>
    </application>

</manifest>